.img-wrapper {
  position: relative;
  display: flex;
  flex: 1 0 300px;
}

.img-wrapper img {
  width: 100%;
  align-self: flex-start;
}

.img-wrapper .static-png {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}
