.img-wrapper {
  position: relative;
}

.img-wrapper img {
  width: 100%;
  max-width: 720px;
  align-self: flex-start;
}

.img-wrapper .static-png {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 95%;
}
