.rootContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.footer {
  flex-shrink: 0;
}

.main {
  margin: 3.7em 0 !important;
  padding: 0 7.5vw;
  flex: 1 0 auto;
}

html,
body,
#root {
  height: 100%;
}

.homeRoot > * {
  padding: 4vh 10vw;
  width: 100%;
  justify-content: start;
  align-items: start;
}
